.recommendation-details-container-style {
  padding: 10px;
  height: 200px;
  width: 900px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.recommendation-details-content {
  opacity: 0;
  transition: opacity 1s ease, transform .4s ease;
}

.recommendation-details-content.show {
  opacity: 1;
  transform: translate();
}

.recommendation-profile-name-style {
  display: flex;
  align-items: center;
}

.recommendation-name-position-style {
  display: flex;
  flex-direction: column;
}

.recommendation-position-style {
  margin-top: -8px;
}

.recommendation-description-style {
  font-weight: 100;
  text-align: justify;
  overflow: auto;
  max-height: 100px;
  margin: 15px;
  margin-top: -10px;
}

.recommendation-description-style::-webkit-scrollbar {
  display: none;
}

.recommendation-description-style {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recommendation-details-container-style:hover {
  transform: scale(1.01);
}

.slider-buttons-container-style {
  display: flex;
  justify-content: center;
}

.slider-button-style {
  height: 6px;
  width: 6px;
  margin: 0 5px;
  cursor: pointer;
  background-color: gray;
  transition: transform 0.3s ease;
}

.slider-button-style.current {
  background-color: rgb(54, 56, 61);
}

.slider-button-style:hover {
  transform: scale(1.5);
}
