.projects-container-style {
  padding-left: 450px;
  padding-right: 450px;
  padding-bottom: 100px;
  position: relative;
}

.projects-text-container {
  margin-top: 50px;
}

.project-stack-style {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-stack-style:hover {
  transform: scale(1.1);
}

.div-details-style {
  display: grid;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 1600px) {
  .projects-container-style {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media (max-width: 1300px) {
  .projects-container-style {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media (max-width: 1000px) {
  .projects-container-style {
    padding-left: 30px;
    padding-right: 30px;
  }
}
