.project-details-container-style {
  padding: 10px;
  height: 300px;
  width: 900px;
  display: grid;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 5px;
  transition: transform 0.3s ease;
}

.div-details-style {
  margin-top: 5px;
}

.project-image-container {
  display: grid;
  gap: 10px;
}

.project-title-container label {
  cursor: pointer;
}

.project-title-container.disabled label {
  cursor: not-allowed;
}

.project-status-container-style {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: -5px;
}

.personal-project-status-style {
  color: green;
  font-weight: bolder;
}

.protected-project-status-style {
  color: red;
  font-weight: bolder;
}

.project-stacks-images-container {
  align-items: center;
  display: flex;
  gap: 5px;
}

.project-description-scrollable-style {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: scroll;
  text-align: justify;
  flex-direction: column;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.project-description-scrollable-style::-webkit-scrollbar {
  display: none;
}

.project-details-container-style:hover {
  transform: scale(1.01);
}
