.project-details-container-style {
  padding: 10px;
  height: 300px;
  width: 900px;
  display: grid;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 5px;
  transition: transform 0.3s ease;
}

.div-details-style {
  margin-top: 5px;
}

.project-image-container {
  display: grid;
  gap: 10px;
}

.project-image-style-container {
  gap: 5px;
  justify-content: center;
  display: flex;
  margin-right: 2px;
}

.project-description-scrollable-style {
  margin-top: 20px;
  max-height: 200px;
  overflow-y: scroll;
  text-align: justify;
  scrollbar-width: none; /* For Firefox */
}

.project-description-scrollable-style::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}
