.introduction-container-style {
  gap: 10px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1747px) {
  .introduction-container-style {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.introduction-detail-style {
  width: 70%;
  text-align: justify;
}

@media (max-width: 1000px) {
  .introduction-container-style {
    padding-left: 10px;
    padding-right: 10px;
  }
  .introduction-detail-style {
    width: 100%;
  }
}

.greetings-container-style {
  font-size: 25px;
}

@media (max-width: 1000px) {
  .greetings-container-style {
    font-size: 20px;
  }
}

@media (max-width: 530px) {
  .greetings-name-container-style {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .greetings-name-container-style {
    font-size: 12px;
  }
}

.greetings-name-container-style {
  font-size: 70px;
  gap: 10px;
}

@media (max-width: 1010px) {
  .greetings-name-container-style {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .greetings-name-container-style {
    font-size: 40px;
  }
}

@media (max-width: 530px) {
  .greetings-name-container-style {
    font-size: 30px;
  }
}

.name-container-style {
  font-weight: bold;
}

.self-description-style {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .self-description-style {
    font-size: 15px;
  }
}

.software-engineer-style {
  font-weight: bold;
}

.see-more-container-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.see-more-about-me-style {
  display: flex;
  font-size: 18px;
  width: 20%;
  cursor: pointer;
}

@media (max-width: 1747px) {
  .see-more-about-me-style {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .see-more-about-me-style {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .see-more-about-me-style {
    font-size: 15px;
  }
}

.beating-arrow-style {
  font-size: 20px;
  margin-left: 10px;
  animation: wobble 0.6s infinite;
}

@media (max-width: 530px) {
  .beating-arrow-style {
    font-size: 18px;
  }
}

.book-download-container {
  display: flex;
  gap: 10px;
}

.calendar-download-container {
  display: none;
}

@media (max-width: 530px) {
  .see-more-container-style {
    margin-top: -30px;
  }
  .calendar-download-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
}

/* Animations for arrow wobble effect */
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
