.introduction-container-style {
  gap: 10px;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.introduction-detail-style {
  width: 70%;
  text-align: justify;
}

.greetings-container-style {
  font-size: 25px;
}

.greetings-name-container-style {
  font-size: 70px;
}

.name-container-style {
  font-weight: bold;
}

.self-description-style {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 50px;
}

.software-engineer-style {
  font-weight: bold;
}

.see-more-container-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.see-more-about-me-style {
  display: flex;
  font-size: 18px;
  width: 20%;
  cursor: pointer;
}

.beating-arrow-style {
  font-size: 20px;
  margin-left: 10px;
  animation: wobble 0.6s infinite;
}

/* Animations for arrow wobble effect */
@keyframes wobble {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
