:root {
  --background-color: #eeeeee; /* Default background color */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color); /* Use the custom property here */
  /* FOR CHANGING OF THEME SOON: document.documentElement.style.setProperty('--background-color', color) */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 100px;
}


html, body {
  height: 100%;
  margin: 5px;
}