.center-container {
  width: 70%;
  height: 300vh;
  background-color: green;
  display: grid;
  gap: 1000px;
  padding: 100px;
}

.box {
  width: 50px;
  height: 50px;
  background-color: blue;
}

.box.a{
    background-color: rgb(71, 71, 8);
}


.box.b{
    background-color: rgb(37, 70, 107);
}

.box.c{
    background-color: rgb(57, 145, 69);
}