.recommendation-details-container-style {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.recommendation-arrow-left {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  margin-left: -5px;
  margin-right: 10px;
  justify-content: center;
}

.recommendation-arrow-left:hover {
  background-color: rgba(128, 128, 128, 0.185);
}

.recommendation-arrow-right {
  height: 100%;
  display: flex;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
  margin-right: -5px;
  align-items: center;
  justify-content: center;
  
}

.recommendation-arrow-right:hover {
  background-color: rgba(128, 128, 128, 0.185);
}


.recommendation-details-content {
  opacity: 0;
  transition: opacity 1s ease, transform 0.4s ease;
}

.recommendation-details-content.show {
  opacity: 1;
  transform: translate();
}

.recommendation-profile-name-style {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recommendation-name-position-style {
  display: flex;
  flex-direction: column;
}

.recommendation-position-style {
  margin-top: -8px;
}

.recommendation-description-style {
  display: flex;
  font-weight: 100;
  text-align: justify;
  overflow: auto;
  margin-bottom: 15px;
}

.recommendation-description-style::-webkit-scrollbar {
  display: none;
}

.recommendation-description-style {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recommendation-details-container-style:hover {
  transform: scale(1.01);
}

.slider-buttons-container-style {
  display: flex;
  justify-content: center;
}

.slider-button-style {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background-color: gray;
  transition: transform 0.3s ease;
}

.slider-button-style.current {
  background-color: rgb(54, 56, 61);
}

.slider-button-style:hover {
  transform: scale(1.5);
}
