.project-details-container-style {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
  overflow: hidden;
  gap: 5px;
  margin: 3px;
  transition: transform 0.3s ease;
  .project-stacks-images-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing as needed */
    align-items: flex-start; /* Initial align state */
    display: flex;
    gap: 5px;
  }
  .discover-application-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Adjust the duration and timing as needed */
    align-items: flex-start; /* Initial align state */
    display: flex;
    cursor: pointer;
    gap: -5px;
    font-size: 13px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    transition: transform 0.3s ease;
    font-weight:600;
  }
}

.images-discover-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-details-style {
  margin-top: 5px;
}

.project-image-container {
  display: grid;
}

.project-slider-buttons-container-style {
  display: flex;
  justify-content: center;
}

.project-slider-button-style {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  background-color: gray;
  transition: transform 0.3s ease;
}

.project-slider-button-style.current {
  background-color: rgb(54, 56, 61);
}

.project-slider-button-style:hover {
  transform: scale(1.5);
}

.project-title-container label {
  cursor: pointer;
}

.project-title-container.disabled label {
  cursor: not-allowed;
}

.project-status-container-style {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: -5px;
}

.personal-project-pesonal-style {
  color: green;
  font-weight: bolder;
}

.protected-project-ongoing-style {
  color: rgb(143, 167, 13);
  font-weight: bolder;
}

.protected-project-protected-style {
  color: red;
  font-weight: bolder;
}

.project-details-stacks-container-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-description-scrollable-style {
  text-align: justify;
  flex-direction: column;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.project-description-scrollable-style::-webkit-scrollbar {
  display: none;
}

.project-details-container-style:hover {
  transform: scale(1.01);

  .project-stacks-images-container {
    opacity: 1;
    align-items: center;
  }
  .discover-application-container {
    opacity: 1;
    align-items: center;
    transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
  }
}

.discover-application-container:hover {
  opacity: 1;
  align-items: center;
  transform: scale(1.05); /* Make the text bigger */
  transition: transform 0.3s ease-in-out; /* Smooth scaling effect */
}

@media (max-width: 700px) {
  .project-details-container-style {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .project-image-container {
    justify-content: center;
  }
  .images-discover-container {
    display: grid;
    gap: 10px;
  }
}
