.label-page-title-bold-style {
  font-size: 100px;
  font-weight: bold;
}

.label-default-style {
  font-size: 18px;
  font-weight: 400;
}

.label-default-style.bold {
  font-size: 18px;
  font-weight: bolder;
}

.label-default-style.italic {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
}

.label-div-title-bold-style {
  font-size: 30px;
  font-weight: bold;
}

.label-large-bold-style {
  font-size: 22px;
  font-weight: bolder;
}

.label-large-style {
  font-size: 22px;
}

.label-medium-style {
  font-size: 15px;
}

.label-small-style {
  font-size: 13px;
  font-weight: 100;
  margin-top: 10px;
  text-align: justify;
}

@media (max-width: 800px) {
  .label-default-style {
    font-size: 15px;
  }
  .label-default-style.italic {
    font-size: 15px;
  }
}

@media (max-width: 700px) {
  .label-page-title-bold-style {
    font-size: 50px;
  }
  .label-div-title-bold-style {
    font-size: 25px;
  }
  .label-div-title-bold-style {
    font-size: 25px;
  }
  .label-large-style {
    font-size: 15px;
  }
  .label-medium-style{
    font-size: 13px;
  }
  .label-large-bold-style {
    font-size: 15px;
  }
  .label-default-style {
    font-size: 12px;
  }
  .label-default-style.italic {
    font-size: 12px;
  }
  .label-small-style {
    font-size: 12px;
  }
}
