.header-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: transform 0.3s ease, background-color 1s ease;
}

.header-container.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

.header-container.visible {
  height: 40px;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.logo-container {
  cursor: pointer;
  margin-bottom: -15px;
  margin-left: 10px;
}

.menu-options-container {
  display: flex;
  gap: 20px;
}

.menu-hamburger-container {
  display: none;
}

@media (max-width: 1800px) {
  .header-container {
    padding-top: 5px;
    padding-right: 3px;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  .menu-options-container {
    display: none;
  }
  .menu-hamburger-container {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .header-container {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--background-color);
  }
  .header-logo {
    height: 60px;
    width: 60px;
    margin-left: -5px;
  }
  .header-close {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

@media (min-width: 700px) {
  .header-close {
    display: none;
  }
  .full-page-menu.active {
    display: none;
  }
}

.scroll-up-btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.scroll-up-btn.show {
  display: block;
  opacity: 1;
}

.icon-mode-display {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-mode-display:hover {
  transform: scale(1.1);
}

.full-page-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other elements */
  gap: 10px;
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease, top 0.5s ease;
  overflow: hidden; /* Prevent internal scrolling within the menu */
}

.full-page-menu.active {
  top: 0;
  opacity: 1; /* Fade in */
}

.full-page-menu-header {
  width: 100%;
  height: 30px;
  position: fixed;
  margin-top: 10px;
  top: 0; /* Keep this fixed at the top */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px 20px;
  z-index: 1001; /* Slightly higher z-index for the header */
}

.full-page-menu .icon-mode-display {
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 20px 0;
}
