.experience-details-main-container-style {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  gap: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.experience-details-container-style {
  align-items: center;
  display: flex;
}

.experience-img-style {
  cursor: pointer;
  margin-right: 10px;
  opacity: 80%;
}

.experience-details-description-container-style {
  padding: 5px;
  display: grid;
  flex-direction: row;
}

.experience-mobile-screen {
  display: flex;
  flex-direction: column;
}

.experience-description-scrollable-style {
  text-align: justify;
  flex-direction: column;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.experience-description-scrollable-style::-webkit-scrollbar {
  display: none;
}

.experience-details-main-container-style:hover {
  transform: scale(1.01);
}

@media (max-width: 800px) {
  .experience-details-container-style {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .experience-details-container-style img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 1;
    opacity: 30%; 
  }
}
