.experience-details-main-container-style {
  padding: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  gap: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.experience-details-container-style {
  align-items: center;
  display: flex;
}

.experience-img-style {
  cursor: pointer;
  margin-right: 10px;
}

.experience-details-description-container-style {
  display: grid;
  flex-direction: row;
}

.experience-mobile-screen {
  display: flex;
  flex-direction: column;
}

.experience-description-scrollable-style {
  text-align: justify;
  flex-direction: column;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.experience-description-scrollable-style::-webkit-scrollbar {
  display: none;
}

.experience-details-main-container-style:hover {
  transform: scale(1.01);
}

@media (max-width: 800px) {
  .experience-details-container-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .experience-details-container-style img {
    width: 110px;
    height: 110px;
  }
}
