.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1000;
}

.logo-container {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.menu-options-container {
  display: flex;
  gap: 30px;
}
