.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: transform 0.3s ease, background-color 1s ease;
}

.logo-container {
  cursor: pointer;
}

.menu-options-container {
  display: flex;
  gap: 20px;
}

.scroll-up-btn {
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.3s ease;
}

.scroll-up-btn.show {
  display: block;
  opacity: 1;
}

.icon-mode-display {
  cursor: pointer;
  transition: transform 0.3s ease,
}

.icon-mode-display:hover {
  transform: scale(1.1);
}