.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative; /* Ensure positioning context */
  z-index: 1000; /* Higher than other elements */
}

.logo-container {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}

.menu-options-container {
  cursor: pointer;
  display: flex;
  gap: 30px;
}
