:root {
  --background-color: black;
  --color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s ease, color 1s ease;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Ensures that children can be positioned relative to the entire page */
}

#bg {
  position: fixed; /* Fix the SVG to the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the SVG background behind everything */
}

.app-content {
  position: relative; /* Allows positioning of elements within the main content area */
  z-index: 1; /* Ensures that the content is above the background */
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(134, 134, 138, 0.479);
  border-width: 1.5px;
}

.circle.b {
  width: 80px;
  height: 80px;
}

.circle.a {
  background-color: rgba(128, 128, 128, 0.089);
  width: 10px;
  height: 10px;
}
